doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title CS
    link(href='/template/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/template/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    link(href='/template/dist/css/sb-admin-2.css', rel='stylesheet')
    link(href='/template/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    a.btn.btn-lg.btn-success.btn-block(href='/logout') Logout
    #wrapper
      #page-wrapper(style='min-height: 1269px;margin-left: 0px;')
        .row
          .col-lg-12
            h1.page-header Dashboard
        .row
          .col-lg-12
            .panel.panel-default
              .panel-body
                #dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer.transactions
                  .row
                    .col-sm-12
                      table#dataTables-example.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline.collapsed(width='100%', role='grid', aria-describedby='dataTables-example_info', style='width: 100%;')
                        thead
                          tr(role='row')
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 85px;') Count
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 78px;') Total
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 56px;') Currency
                        tbody
                          each item in dashboard
                            tr.gradeA.odd.item(role='row')
                              td #{item.count}
                              td #{item.total}
                              td.center #{item.currency}

        .row
          .col-lg-12
            h1.page-header Transactions
        .row
          .col-lg-12
            .panel.panel-default
              .panel-body
                #dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer.transactions
                  .row
                    .col-sm-12
                      table#dataTables-example.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline.collapsed(width='100%', role='grid', aria-describedby='dataTables-example_info', style='width: 100%;')
                        thead
                          tr(role='row')
                            th.sorting_asc(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', aria-sort='ascending', style='width: 69px;') Reference No
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 85px;') Message
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 78px;') Transaction ID
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 56px;') Status
                            th.sorting(tabindex='0', aria-controls='dataTables-example', rowspan='1', colspan='1', style='width: 56px;') Info
                        tbody
                          each item in transactions
                            tr.gradeA.odd.item(role='row')
                              td.sorting_1 #{item.transaction.merchant.referenceNo}
                              td #{item.transaction.merchant.message}
                              td #{item.transaction.merchant.transactionId}
                              td #{item.transaction.merchant.status}
                              td.buttons
                                button.btn.btn-default.clientBtn(style='margin-right:5px;', data-tid='#{item.transaction.merchant.transactionId}' data-type='client') Client
                                button.btn.btn-default.merchantBtn(style='margin-right:5px;' data-tid='#{item.transaction.merchant.transactionId}' data-type='merchant') Merchant
                                button.btn.btn-default.detailBtn(style='margin-right:5px;' data-tid='#{item.transaction.merchant.transactionId}' data-type='detail') Detail

    script(src='/template/vendor/jquery/jquery.min.js')
    script(src='/template/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/template/vendor/metisMenu/metisMenu.min.js')
    script(src='/template/dist/js/sb-admin-2.js')

    script(src='/app/auth.js')
    script(src='/app/transactions.js')